{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

# flake.nix hash: {{ include "private_dot_config/home-manager/flake.nix.tmpl" | sha256sum }}
# common.nix hash: {{ include "private_dot_config/home-manager/common.nix.tmpl" | sha256sum }}
# linux-common.nix hash: {{ include "private_dot_config/home-manager/linux-common.nix.tmpl" | sha256sum }}
# linux-desktop.nix hash: {{ include "private_dot_config/home-manager/linux-desktop.nix.tmpl" | sha256sum }}
# linux-headless.nix hash: {{ include "private_dot_config/home-manager/linux-headless.nix.tmpl" | sha256sum }}
# darwin.nix hash: {{ include "private_dot_config/home-manager/darwin.nix.tmpl" | sha256sum }}

echo "Applying Home Manager configuration..."
# Use the generic 'default' configuration
nix --extra-experimental-features "flakes nix-command" run home-manager/master -- switch --flake "$HOME/.config/home-manager#default"
{{- end -}}
