[include]
	path = ~/.config/git/config.machine

[core]
	fsmonitor = false
	autocrlf = input
	quotePath = false
	pager = hunk pager --mode split

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	followTags = true

[credential "https://huggingface.co"]
	provider = generic

[init]
	defaultBranch = main

[pull]
	rebase = false

[interactive]
	diffFilter = hunk pager --mode split

[alias]
	publish = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	tree = log --graph --pretty=format:'%x09%C(auto)%h %Cgreen%<(15)%ar%Creset by %C(cyan ul)@%an%Creset %C(auto)%s%d'

{{- range .git_safe_directories }}

[safe]
	directory = {{ . | quote }}
{{- end }}
