#!/bin/bash

# flake.nix hash: {{ include "private_dot_config/home-manager/flake.nix.tmpl" | sha256sum }}
# common.nix hash: {{ include "private_dot_config/home-manager/common.nix.tmpl" | sha256sum }}

echo "Applying Home Manager configuration..."
# Use the generic 'default' configuration
nix run home-manager/master -- switch --flake "$HOME/.config/home-manager#default"
