{
  "managed": {
    "common": [
      "window.autoDetectColorScheme",
      "workbench.preferredDarkColorTheme",
      "workbench.preferredLightColorTheme",
      "editor.guides.bracketPairs",
      "editor.minimap.enabled",
      "git.enableSmartCommit",
      "editor.fontFamily",
      "git.confirmSync",
      "git.autofetch",
      "explorer.confirmDragAndDrop",
      "editor.accessibilitySupport",
      "workbench.tree.expandMode",
      "editor.wordWrap",
      "github.copilot.nextEditSuggestions.enabled",
      "github.copilot.enable",
      "claudeCode.preferredLocation",
      "diffEditor.ignoreTrimWhitespace"
    ],
    "darwin": [
      "terminal.integrated.macOptionIsMeta"
    ],
    "code": [
    ],
    "cursor": [
      "workbench.activityBar.orientation",
      "workbench.agentsWindowButton.enabled"
    ]
  },
  "desired": {
    "common": {
      "window.autoDetectColorScheme": true,
      "workbench.preferredDarkColorTheme": "Dark+",
      "workbench.preferredLightColorTheme": "Dark+",
      "editor.minimap.enabled": false,
      "editor.guides.bracketPairs": "active",
      "git.enableSmartCommit": true,
      "editor.fontFamily": "Consolas, Menlo, Monaco, 'Courier New', monospace, Inconsolata Nerd Font",
      "git.confirmSync": false,
      "git.autofetch": true,
      "explorer.confirmDragAndDrop": false,
      "editor.accessibilitySupport": "off",
      "workbench.tree.expandMode": "doubleClick",
      "editor.wordWrap": "on",
      "github.copilot.nextEditSuggestions.enabled": true,
      "github.copilot.enable": {
        "*": true,
        "plaintext": true,
        "markdown": true,
        "scminput": true
      },
      "diffEditor.ignoreTrimWhitespace": true,
      "claudeCode.preferredLocation": "panel"
    },
    "darwin": {
      "terminal.integrated.macOptionIsMeta": true
    },
    "code": {
    },
    "cursor": {
      "workbench.activityBar.orientation": "vertical",
      "workbench.agentsWindowButton.enabled": false
    }
  }
}
