{ pkgs, nixClaudeCode, ... }:

let
  rtk = pkgs.callPackage ./rtk.nix { };
in
{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  # See https://search.nixos.org/packages
  home.packages = (with pkgs; [
    # dotfiles
    chezmoi

    # git
    git
    gh
    lazygit
    act
    pinact
    actionlint
    delta

    # shell
    zsh
    oh-my-zsh
    sheldon
    starship
    direnv
    nix-direnv
    tree
    msedit
    ripgrep
    zoxide
    fzf
    fd
    bat
    eza

    # programming
    nodejs_24
    pnpm
    bun
    ni

    uv
    go

    rustup
    cargo-binstall
    cargo-make

    # others
    curl
    wget
    nixClaudeCode

    # fonts
    inconsolata
    nerd-fonts.inconsolata
    nerd-fonts.symbols-only

    wakeonlan
  ]) ++ [ rtk ];

  programs.home-manager.enable = true;
  home.stateVersion = "25.11";
}
