{ config, lib, pkgs, nixClaudeCode, nixCodexCli, ... }:

let
  basePackages = (with pkgs; [
    # dotfiles
    chezmoi

    # git
    git
    gh
    lazygit
    pre-commit
    act
    pinact
    actionlint
    delta

    # shell
    zsh
    oh-my-zsh
    sheldon
    starship
    direnv
    nix-direnv
    tree
    msedit
    ripgrep
    zoxide
    fzf
    fd
    bat
    moor
    eza
    superfile
    fresh-editor
    rip2
    jq
    yq
    yazi
    zellij

    # programming
    nodejs_24
    pnpm
    bun
    ni

    uv
    pyenv
    pipenv

    go

    rustup
    cargo-binstall
    cargo-make

    # db
    mysql84
    sqlfluff

    # editor
    neovim
    tree-sitter
    lua-language-server
    nil
    stylua

    # ai
    nixClaudeCode
    nixCodexCli
    opencode
    rtk

    # misc
    curl
    wget
    wakeonlan
    mise
    lazydocker
    btop
    cloudflared
    tailscale
    devcontainer
    glow
    rich-cli
    tdf

    # fonts
    inconsolata
    nerd-fonts.inconsolata
    nerd-fonts.symbols-only
  ]);
  denyPackages = config.localDeny.packages;
in
{
  options.localDeny.packages = lib.mkOption {
    type = lib.types.listOf lib.types.package;
    default = [ ];
    description = "Packages to remove from common home.packages";
  };

  config = {
    home.username = "{{ .chezmoi.username }}";
    home.homeDirectory = "{{ .chezmoi.homeDir }}";

    # See https://search.nixos.org/packages
    home.packages = lib.lists.subtractLists denyPackages basePackages;

    programs.home-manager.enable = true;
    home.stateVersion = "25.11";

    xdg.configFile."nix/nix.conf".force = true;

    nix.package = pkgs.nix;

    nix.settings = {
      experimental-features = [ "nix-command" "flakes" ];
    };

    nix.gc = {
      automatic = true;
      dates = "weekly";
      options = "--delete-older-than 30d";
    };
  };
}
