{
  description = "Home Manager configuration";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/nixpkgs-unstable";
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    nix-claude-code = {
      url = "github:ryoppippi/nix-claude-code";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    {{- if eq .chezmoi.os "linux" }}
    nixgl = {
      url = "github:guibou/nixGL";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    {{- end }}
  };

  outputs = { nixpkgs, home-manager, nix-claude-code{{ if eq .chezmoi.os "linux" }}, nixgl{{ end }}, ... }:
    let
      {{ $nixArch := .chezmoi.arch -}}
      {{- if eq .chezmoi.arch "amd64" }}{{ $nixArch = "x86_64" }}{{ end -}}
      {{- if eq .chezmoi.arch "arm64" }}{{ $nixArch = "aarch64" }}{{ end -}}
      {{- $system := printf "%s-%s" $nixArch .chezmoi.os -}}
      system = "{{ $system }}";
      username = "{{ .chezmoi.username }}";
    in {
      homeConfigurations.default = home-manager.lib.homeManagerConfiguration {
        pkgs = nixpkgs.legacyPackages.${system};
        modules = [
          ./common.nix
          {{ if eq .chezmoi.os "linux" -}}
          ./linux-common.nix
          {{- $wsl := and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) }}
          {{- if and (hasKey . "linuxGui") .linuxGui }}
          ./linux-desktop.nix
          {{- else if and (hasKey . "linuxGui") (not .linuxGui) }}
          ./linux-headless.nix
          {{- else if $wsl }}
          ./linux-headless.nix
          {{- else }}
          ./linux-desktop.nix
          {{- end }}
          {{ else if eq .chezmoi.os "darwin" -}}
          ./darwin.nix
          {{ end -}}
        ];
        extraSpecialArgs = {
          inherit username;
          nixClaudeCode = nix-claude-code.packages.${system}.default;
          {{- if eq .chezmoi.os "linux" }}
          nixglPackages = nixgl.packages.${system};
          {{- end }}
        };
      };
    };
}
