keybinds {
    shared_except "locked" {
        bind "Alt g" {
            Run "zellij-dev-toggle-lazygit" {
                close_on_exit true
                floating true
                name "lazygit"
                x "10%"
                y "8%"
                width "80%"
                height "84%"
            }
        }
        bind "Alt t" {
            Run "zellij-dev-new-workspace-tab" {
                close_on_exit true
            }
        }
    }
}

session_serialization false

theme "blue"
