<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>disableImagePreview</key>
	<false/>
	<key>dockBackgroundMaterial</key>
	<string>ultraThick</string>
	<key>dockBackgroundStyle</key>
	<string>frostedMaterial</string>
	<key>enableShiftWindowSwitcherPlacement</key>
	<false/>
	<key>globalPaddingMultiplier</key>
	<real>0.5</real>
	<key>includeHiddenWindowsInSwitcher</key>
	<true/>
	<key>requireShiftTabToGoBack</key>
	<true/>
	<key>showAnimations</key>
	<false/>
	<key>showWindowlessAppsInSwitcher</key>
	<false/>
	<key>uniformCardRadius</key>
	<false/>
	<key>unselectedContentOpacity</key>
	<real>1</real>
</dict>
</plist>
