# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

gui:
  language: "en"
  commitAuthorShortLength: 6
quitOnTopLevelReturn: true
os:
  editInTerminal: true
  edit: "fresh {{ "{{" }}filename{{ "}}" }}"
  editAtLine: "fresh {{ "{{" }}filename{{ "}}" }}:{{ "{{" }}line{{ "}}" }}"
  editAtLineAndWait: "fresh {{ "{{" }}filename{{ "}}" }}:{{ "{{" }}line{{ "}}" }}"
  openDirInEditor: "fresh {{ "{{" }}dir{{ "}}" }}"

git:
  pagers:
{{- if eq .chezmoi.os "windows" }}
    - externalDiffCommand: '~/AppData/Local/lazygit/lazygit-diff.ps1'
{{- else }}
    - pager: hunk pager --mode split
{{- end }}
